<h2 class="content-subhead"><%= @title %></h2>

<form action="/search" method="get">
  <input name="query" value="<%= params[:query] %>">
  <button type="submit">Search</button>
</form>

<% if params[:query] %>
  <% if @results %>
    <h2 class="content-subhead">Results for <%= params[:query] %></h2>
    <ul>
      <% @results.each do |result| %>
        <li>
          <h4><%= result[:title] %></h4>
          <ul>
            <% result[:paragraphs].each do |id, para| %>
              <li>
                <a href=/chapters/<%= result[:number] %>#<%= id %> >
                  <%= highlight_query(para, params[:query]) %>
                </a>
              </li>
            <% end %>
          </ul>
        </li>
      <% end %>
    </ul>
  <% else %>
    <p>Sorry, no matches were found.</p>
  <% end %>
<% end %>
